header {
    padding: 50px 20px;
}
h1 {
    text-align: center;
}
.subtitle {
    text-align: center;
    font-style: italic;
}
h2 {
    text-align: center;
    margin-top: 3rem;
}
h3 {
    text-align: center;
    margin-top: 30px;
}
p {
    margin-bottom: 0.5rem;
}

.accordion-header {
    border-style: hidden;
    border-color: blue;
    border-width: 5px;
}
/* Style introduction-section */
.introduction-section {
    text-align: justify;
}

/* Style Form */
.formSection {
    border-color: gray;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;

    background-color: #f2f2f2;

    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;

    margin-bottom: 20px;
}
.inputFieldLabel {
    margin-top: 20px;
}
.numberForm {
    text-align: right;
}
.btn {
    margin: 5px;
}

/* Style the section where the URL is output */
.invisible {
    display: none;
}
.bordered {
    border-color: gray;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;

    background-color: #f2f2f2;

    padding: 10px;
}
.monospace {
    font-family: monospace;
    background-color: lightgray;

    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 2px;

    padding-top: 10px;
}

/* Style the results-table */
.costCell {
    text-align: right;
    white-space: nowrap;
}

/* Style the section where the advantages and disadvantages of open/closed software are listed */
.prosAndConsSection {
    border-color: gray;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;

    margin-bottom: 20px;
    padding: 10px 20px;
}
li {
    padding: 5px;
}
.pros {
    color: darkgreen;
}
.cons {
    color: darkred;
}
.infoI {
    height: 1rem;
}
@media (min-width: 768px) {
    .nonHoverStyle {
        border-style: solid;
        border-color: transparent;
        border-width: 1px;
    }
    .hoverStyle {
        background-color: yellow;

        border-style: solid;
        border-color: black;
        border-radius: 5px;
        border-width: 1px;
    }
}
.exampleSource {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

/* Style toasts */
.toastParent {
    display: flex;
    justify-content: center;
}
.toast {
    position: fixed; /* Sit on top of the screen */
    top: 30px;
    z-index: 99;
}
i {
    margin-right: 10px;
}


/* Style footer */
html {
    position: relative;
    min-height: 100%
}
main {
    margin: 0 0 5rem;
}
footer {
    background-color: #333333;
    color: white;

    position: absolute;
    left: 0;
    bottom: 0;
    height: 5rem;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
footer a {
    color: white;
}
footer a:hover {
    color: #cceeff;
}


/* Style about-page */
.aboutLeftCol {
    text-align: right;
    padding: 5px;
    font-weight: bold;
}
.aboutRightCol {
    text-align: left;
    padding: 5px;
}
