h1 {
    text-align: center;
}
.subtitle {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
    margin-top: 20px;
}
.formSection {
    border-color: gray;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;

    background-color: #f2f2f2;
    
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;

    margin-bottom: 20px;
}

.numberForm {
    text-align: right;
}

.inputFieldLabel {
    margin-top: 20px;
}

.invisible {
    display: none;
}
.monospace-div {
    font-family: monospace;
    background-color: lightgray;
}
.doSwitch {
    background-color: lightgreen;
}
.doNotSwitch {
    background-color: lightpink;
}

.pros {
    color: darkgreen;
}
.cons {
    color: darkred;
}
